{% extends 'admin/change_list.html' %}

{% load i18n %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:move_email_contact_type' %}" class="viewsitelink" id="unify-email-contact-type-button">{% trans 'Unify e-mail contact type' %}</a>
    </li>
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        (function($) {
            const unifyEmailContactType = new UnifyEmailContactType($, {
                loadingText: "{% trans 'Loading...' %}",
                unknownErrorText: "{% trans 'Unknown error raised!' %}",
                serverErrorText: "{% trans 'Optimizing contact types failed:' %}"
            });
            $(document).ready(unifyEmailContactType.init);
        })(jQuery);
    </script>
{% endblock %}